<div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://i.imgur.com/GbUFLkB.png" alt="" style="width: 100px; margin-left: auto; margin-right: auto;">
        <h2>Hassle-Free</h2>
        <p>Let us take care of the boring parts of your life. We're really, really good at what we do.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://i.imgur.com/wENsyGp.png" alt="" style="width: 100px; margin-left: auto; margin-right: auto;">
        <h2>Lightning Fast</h2>
        <p>Your tax return will be ready to go within 14 days, allowing you the peace of mind to plan ahead.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://i.imgur.com/XZGkbBG.png" alt="" style="width: 100px; margin-left: auto; margin-right: auto;">
        <h2>Simple &amp; Dependable</h2>
        <p>Stop jumping through countless accountant hoops just to file your taxes. We keep it stupid simple.</p>
    </div>
</div>