
<ul class="timeline">
    <li>
     <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i>
     </div>
     <div class="timeline-panel">
        <div class="timeline-heading">          
            <h4 class="timeline-title" name="rrsp-contributions">February 29th, 2016</h4>
                    <p><small class="text-muted">Deadline for RRSP Contributions</small>
                    </p>
        </div>
        <div class="timeline-body">
            <p>
                <a href="#">RRSP contributions</a> allow you to reduce your taxable income for the year by contributing to your Registered Retirement Savings Plan (RRSP).
            </p> 
            <br>
            <p>
                The maximum contribution for the year is indicated in your 2014 <a href="#">Notice of Assessment</a>.
            </p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" name="individuals-tax-returns">April 30th, 2016</h4>
                <p>
                    <small class="text-muted">Deadline to file Tax Returns for <strong>individuals</strong></small>
                </p>
            </div>
            <div class="timeline-body">
                <p>At the end of each year, every Canadian citizen and resident that has worked in Canada is required by the federal and provicial government to submit information outlining the revenues earned throughout the year. </p>
                <br>
                <p>This allows the government to calculate the amount of tax you'll be required to pay by April 30th, 2016.</p>
                <br>
                <p>Note: The date to make your payment to the governments is <strong>also</strong> April 30th, 2016, so plan ahead to get your tax return prepared earlier.</p>
                <p class="pull-right">
                    <a class="typeform-share btn btn-primary btn-small" href="https://eutait.typeform.com/to/OOIX17" data-mode="1" target="_blank">Get a quote >></a>
                </p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge info">
            <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" name="self-employed-tax-returns">June 15, 2016</h4>
                <p>
                    <small class="text-muted">Deadline to file Tax Returns for <strong>self-employed individuals</strong></small>
                </p>
            </div>
            <div class="timeline-body">
                <p>At the end of each year, every individual that has carried on a business in Canada is required by the federal and provicial government to submit information outlining the revenues earned throughout the year from that business.</p>
                <br>
                <p> This allows the government to calculate the amount of tax you'll be required to pay by April 30th, 2016.</p>
                <br>
                <p>Note: The date to make your payment to the governments is <strong>STILL</strong> April 30th, 2016, so plan ahead to get your tax return prepared earlier.</p>
                <p class="pull-right">
                    <a class="typeform-share btn btn-primary btn-small" href="https://eutait.typeform.com/to/OOIX17" data-mode="1" target="_blank">Get a quote >></a>
                </p>
            </div>
        </div>
    </li>

    <!-- <li class="timeline-inverted">
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Date 4</h4>
             </div>
             <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </p>
             </div>
        </div>
    </li> -->

    <!-- <li>
        <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">  
                <h4 class="timeline-title">Date 5</h4>
            </div>
            <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                <hr>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-cog"></i>  <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li> -->
        <!-- <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    
<h4 class="timeline-title">Date 6</h4>

                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    
<h4 class="timeline-title">Date 7</h4>

                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
            </div>
        </li> -->
    </ul>