<div class="row">
	<div class="bs-component">
		<div class="jumbotron">
			<h2 class="text-center">Tired of Running After Your Accountant?</h2>
			<h2 class="lead text-center">Get your income tax return in 14 days or less.</h2>

			<br>

			<p class="text-center">
				<a class="typeform-share btn btn-primary btn-lg" href="https://eutait.typeform.com/to/OOIX17" data-mode="1" target="_blank" style=" width: 300px;">Get a quote >></a>
			</p>

			<p class="text-center text-muted">Pricing is determined based on your particular situation. To get your pricing for the <a href="#">2015 Tax Return</a>, please take a few moments to fill out our short questionnaire by clicking above.</p>

			<%= render 'pages/typeform' %>

		</div>
	</div>
</div>