<title>About | Tax Prep Montreal</title>

<div class="row">
	<div class="bs-component">
		<div class="jumbotron">
			<h3>About Tax Prep Montreal</h3>
				<p>Tax Prep Montreal is a Montreal accounting firm that has worked with individuals and small businesses from many economic, professional, and social backgrounds. We believe strongly in providing a simple, efficient portal for the average Joe looking to get their taxes sorted out without headaches.<p>

				<!-- <p>Our service is offered primarily by Alicia Barchechat, who holds a Bachelor of Commerce degree from Concordia University with a specialization in Accounting. She is currently awaiting the reception of her CPA, CGA permit. Her wide range of financial expertise and knowledge is evidenced by her education and strong employment background.</p>
 -->
				<p>Clients that choose to work with Tax Prep Montreal can be sure that they will be given the highest quality service and commitment. </p>

				<p>Our Tax Accounting clients include:
					<ul>
						<li>Entrepreneurs</li>
						<li>Consultants</li>
						<li>Young professionals</li>
						<li>Medium to high income families</li>
						<li>Employees</li>
					</ul>
				</p>

				<p>Need to get your personal income tax return filed? <a href="/">Learn more here.</a></p>
		</div>
	</div>
</div>


