<div class="container">
    <div class="row">
    	<div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <div class="well panel panel-default">
                    <div class="text-center header">Our Office</div>
                    <div class="panel-body text-center">
                        <h4>Address</h4>
                        <div>
                        7486 Guelph<br />
                        Montreal, Quebec<br />
                        H4W 1H1, Canada<br />
                        alicia@taxprepmontreal.com<br />
                        </div>
                        <hr />
                        <a class="btn btn-primary" href="mailto:alicia@taxprepmontreal.com?Subject=Personal%20Tax%20Prep" target="_top">Email us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


