<title>FAQ | Tax Prep Montreal</title>

<div class="jumbotron">
      <div class="container">
		<div class="page-header ">
  			<h1 class="text-center">Tax Return Preparation FAQ <br>
  				<small>You have questions, we have answers.</small></h1>
          <div class="text-center">Click on a question below to expand the answer.</div>
		</div>
<br><br>
        
      
<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          What is the deadline to submit my 2015 Tax Return?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse ">
      <div class="panel-body">
        The deadline to submit your tax return as well as other important dates can be found at the bottom of our <a href="/">home page.</a</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
How do I pay for your Tax Prep service?</a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
      Once your tax return is complete and ready-to-go, you'll be sent a secure online payment link to claim it. Payment options include all major credit cards.  
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          What is the deadline to make my RRSP contributions for 2015?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
 The deadline to submit your tax return as well as other important dates can be found at the bottom of our <a href="/">home page.</a
      </div>
    </div>
  </div>
        
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          What do I do if I'm missing forms?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
          In the likely event that you've misplaced or lost a form that we need, we can always retrieve the information from the Federal and Provincial governments, provided you've authorized us to contact them on your behalf by <a href="http://taxprepmontreal.x10host.com/Tax%20Prep%20Montreal%20-%20Personal%20Information%20Consent%20Forms.zip">filling out and signing these two documents.</a></div>
    </div>
  </div>
        
  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
          Under what licence is OMA distributed </a>      </h4>
    </div>
    <div id="collapseHeight" class="panel-collapse collapse">
      <div class="panel-body">
        The OMA Browser is available under the Creative Commons Attribution-Share Alike 2.5 License, and the OMA standalone package under the MPL 2.0 (open source) licence.
      </div>    
    </div>
  </div> -->
  
</div>
</div>
</div>
</div>
</div>