<title>Tax Prep Montreal</title>

<%= render 'quote' %>

<div class="container">

	<h2 class="text-center">Enjoy a stress-free tax season.</h2>
	<h2 class="lead text-center">Sit back and don't look back. We've got you covered.</h2>

	<br>
	<h2 class="text-center">How It Works</h2>
	<br>

	<%= render 'pages/features' %>

	<br>
	<!-- Embed Facebook page reviews  -->
<div id="widget_60e48782987798a30af99f1f994211406ee33ffe"></div>
<script type="text/javascript">
		(function(emconfig){
			emd = {
				config:emconfig
			};
			var head = document.getElementsByTagName('head')[0];
			var fileref = document.createElement('script');
			fileref.type = 'text/javascript';
			fileref.src = emconfig.config.site + '/js/partnerwidget.js';
			head.appendChild(fileref);
		})({
			config:{
				site:'https://www.reviewembed.com/'
				,code:'60e48782987798a30af99f1f994211406ee33ffe'
				,container:'widget_60e48782987798a30af99f1f994211406ee33ffe'
                ,js:[
                        "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js",
                        "https://www.reviewembed.com/assets/lightslider.min.js?body=1"
                ]
                ,css:[
                        "https://www.reviewembed.com/assets/lightslider.min.css?body=1",
                        "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
                ]

			}
		});
</script>
<!-- / Embed Facebook page reviews  -->

	<br>

	<h2 class="lead text-center" name="important-dates">2015 Income Tax Season</h2>
	<h2 class="text-center">Important Dates</h2>

	<%= render 'pages/importantdates' %>
	<div class="row">
		<hr>
		<h2 class="text-center">Enjoy a stress-free tax season for as little as $129</h2>
		<br>
		<p class="text-center">
			<a class="typeform-share btn btn-primary btn-lg" href="https://eutait.typeform.com/to/OOIX17" data-mode="1" target="_blank" style=" width: 300px;">Get a quote >></a>
		</p>
	<br>
	</div>
</div>