<title>Tax Prep Montreal</title>

<%= render 'quote' %>

<div class="container">

	<h2 class="text-center">Enjoy a stress-free tax season.</h2>
	<h2 class="lead text-center">Sit back and don't look back. We've got you covered.</h2>

	<br>
	<h2 class="text-center">How It Works</h2>
	<br>

	<%= render 'pages/features' %>

	<br><br>

	<h2 class="lead text-center" name="important-dates">2015 Income Tax Season</h2>
	<h2 class="text-center">Important Dates</h2>

	<%= render 'pages/importantdates' %>
	<div class="row">
		<hr>
		<h2 class="text-center">Enjoy a stress-free tax season for as little as $129</h2>
		<br>
		<p class="text-center">
			<a class="typeform-share btn btn-primary btn-lg" href="https://eutait.typeform.com/to/OOIX17" data-mode="1" target="_blank" style=" width: 300px;">Get a quote >></a>
		</p>
	<br>
	</div>
</div>