<div class="row">
	<div class="bs-component">
		<div class="jumbotron">
			<h2>Enjoy a stress-free tax season this year.</h2>
			<h2 class="lead">Sit back and don't look back. We've got you covered.</h2>
			<p>Pricing is determined based on your particular situation. To get your pricing for the <strong>2015 Tax Return</strong>, please take a few moments to fill out our short questionnaire by clicking below.</p>
			<br>

			<a class="typeform-share btn btn-primary btn-lg" href="https://eutait.typeform.com/to/OOIX17" data-mode="1" target="_blank">Get a quote >></a>
			<br>
			
	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>


		</div>
	</div>
</div>

